<div class="flex-shrink-0 p-3 my-5" style="width: 280px;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
    <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-5 fw-semibold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mais Vendidos</font></font></span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        Feminino
      </font></font></button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cor</font></font></a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tamanho</font></font></a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">categoria</font></font></a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Subcategoria</font></font></a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        Masculino
      </font></font></button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cor</font></font></a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tamanho</font></font></a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">categoria</font></font></a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Subcategoria</font></font></a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        Unissex
      </font></font></button>
    </li>

    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        Esportivo
      </font></font></button>
    </li>

    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        Marcas
      </font></font></button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Filtro de Marcas</font></font></a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
