.card-produto{
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    width: 240px;
    height: 460px;
    transition: box-shadow 0.3s;
}
.card-produto:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.26);
}
.card-img{
    width: 230px;
    height: 345px;
  overflow: hidden;
}
.card-img img{
    width: 100%; /* Ajusta a largura da imagem para preencher o contêiner */
    height: 100%; /* Ajusta a altura da imagem para preencher o contêiner */
    object-fit: cover;
    
}
.card-produto-info{
    width: 180px;
}
.card-produto-body{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.card-produto-bottom{
    display: flex;
}
.card-produto-bottom span{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-right: 10px;
    font-size: 20px;
    transition: all 0.3s ease;
}
.card-produto-bottom span:hover{
    color: rgb(255, 0, 0);
    scale: 1.05;
    
}
.card-produto-name{
    font-size: 1.25rem;
    font-weight: bold;
}
.card-produto-desc{
    color: rgb(95, 94, 94);
}